@import "tailwindcss";

@layer base {
  html, body {
    @apply bg-black text-white selection:bg-indigo-500/30 overflow-x-hidden;
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .animate-scroll {
    animation: scroll 40s linear infinite;
  }
  
  .animate-shimmer {
    animation: shimmer 8s linear infinite;
  }

  .animate-shimmer-slow {
    animation: shimmer 16s linear infinite;
  }
  
  .pause {
    animation-play-state: paused;
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}