@import "tailwindcss";

@layer utilities {
  .animate-scroll {
    animation: scroll 40s linear infinite;
  }
  
  .pause {
    animation-play-state: paused;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}